<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126489092552-uij5bok91fon3vmiafmmhoev4u3ehf5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126489092552-uij5bok91fon3vmiafmmhoev4u3ehf5q</string>
	<key>API_KEY</key>
	<string>AIzaSyAb_E5Mg2R54bZXB9ILF9sVD9z5qU04FP4</string>
	<key>GCM_SENDER_ID</key>
	<string>126489092552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fmb.findMyBus</string>
	<key>PROJECT_ID</key>
	<string>findmybus-e845a</string>
	<key>STORAGE_BUCKET</key>
	<string>findmybus-e845a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126489092552:ios:6a9ccb77b8f8e1ac6920fd</string>
	<key>DATABASE_URL</key>
	<string>https://findmybus-e845a-default-rtdb.firebaseio.com</string>
</dict>
</plist>